body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#App {
  display: flex;
  /* max-width: 360px; */
  margin: 0 auto;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  text-align: center;
  background-color:  #6F58C9;
  color: #FFF;
}

#content {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#content.home  {
  background-image: url('./assets/bg1.jpg');
  background-size: cover;
  background-position: center;
}
#content.search {
  align-items: unset;
  /* padding-top: 20px; */
  text-align: center;

}

#content.search input, #content.search button {
  height: 40px;
}

.mapview-container {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  width: 100%;
  text-align: center;
  background-color: #6F58C9;
  color: #FFF;
}

footer .ui.menu .active.item>i.icon {
  margin: 0;
}

#home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.house {
  display: flex;
  margin: 0 auto;
  height: 365px;
  width: 280px;
  background-color: rgba(189,237,224,0.4);
  -webkit-clip-path: polygon(38px 273px,237px 273px,235px 111px,266px 109px,216px 71px,216px 29px,192px 29px,193px 57px,130px 3px,1px 115px,34px 114px,35px 272px);
  clip-path: polygon(38px 273px,237px 273px,235px 111px,266px 109px,216px 71px,216px 29px,192px 29px,193px 57px,130px 3px,1px 115px,34px 114px,35px 272px);
}
.bricks {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.brick {
  flex: 0 1 calc(15% - 8px);
  /* display: block; */
  background-color: #6F58C9;
  /* width: 10%; */
  height: 15px;
  border: 1px solid #BBDBD1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* float: left; */
}
.brick:nth-of-type(odd) {
  flex: 0 1 calc(15% - 9px);
}

.settings .segment {
  height: 140px;
  width: 140px;
}

.settings .grid {
  /* text-align: justify; */
  text-align: center;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  font-size: 0;
  line-height: 0;
}
.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}
.box {
  display: inline-block;
  position: relative;
  width:160px;
  height:160px;
  margin: 8px;
  padding: 10px;
  border: 1px solid #6F58C9;
  -webkit-box-shadow: 0px 3px 9px 1px rgba(189,237,224,0.4);
          box-shadow: 0px 3px 9px 1px rgba(189,237,224,0.4);
  border-radius: 10px;
  font-size: 16px;
  line-height: normal;
  vertical-align: middle;
}

/*Chrome,Safari*/
/* -webkit-clip-path: polygon(38px 273px,237px 273px,235px 111px,266px 109px,216px 71px,216px 29px,192px 29px,193px 57px,130px 3px,1px 115px,34px 114px,35px 272px);
clip-path: url("#clipPolygon"); */